@use "sass:map";
@import "style/pages/theme";


.header_top {
    background: #f5f5f5;
}

.header_top_left{
    ul {
        display: flex;
        align-items: center;
        list-style-type: none;
        padding: 10px 0 13px;
        column-gap: 20px;

        li {
            font-size: 14px;
            color: map.get($theme-colors, "normal-text");
            display: flex;
            align-items: center;
            column-gap: 5px;
        }

        li:first-child {
            position: relative;
            &:after {
                position: absolute;
                right: -10px;
                top: 1px;
                height: 15px;
                width: 1px;
                background: black;
                opacity: 0.2;
                content: "";
            }
        }
    }
}

.header_top_right {
    // background: red;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0 13px;
    ul {
        display: flex;
        column-gap: 5px;
        list-style-type: none;

        a {
            font-size: 14px;
            display: inline-block;
            text-decoration: none;
            color: map.get($theme-colors, "normal-text");

        }

        li:last-child {
            cursor: pointer;
            padding-left: 10px;
        }
        
        span {
            font-size: 14px;
            margin-left: 3px;
        }
    }
}

.header__cart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 0px;

    .header__cart_price {

    }
    ul {
        display: flex;
        margin-right: 20px;

        li {
            list-style: none;
            position: relative;
            margin-left: 20px;

            svg {
                font-size: 25px;
                color: map.get($theme-colors, "normal-text");
            }

            span {
                color: white;
                background: map.get($theme-colors, "main");
                position: absolute;
                height: 18px;
                width: 18px;
                display: inline-block;
                border-radius: 50%;
                text-align: center;
                line-height: 18px;
                font-size: 13px;
                font-weight: 600;
                left: 20px;
                top: -5px;
            }
        }
    }
}

.header__logo {
    padding: 20px 0;
}

.header__menu {
    padding: 20px 0;
    ul {
        display: flex;
        justify-content: space-between;

        li {
            list-style: none;

            a {
                text-decoration: none;
                color: map.get($theme-colors, "bold-text");
                text-transform: uppercase;
                font-weight: bolder;
                letter-spacing: 1px;
                transition: all 0.3s;
                padding: 5px 0;
                display: block;
            }
        }
        .active a {
            color: map.get($theme-colors, "main");
        }
    }
}